@import './variables';
@import './../../node_modules/bootstrap/scss/functions';

@import './../../node_modules/bootstrap/scss/variables';

@import './../../node_modules/bootstrap/scss/bootstrap';


.aboutsavana img {
    min-width: 100%;
    height: auto;
}
.card-2{
    margin-left: 2%;
}
.card-0{
    position: absolute;
    top: 50%;
    left: 5%;
}

