@import './variables';
@import './../../node_modules/bootstrap/scss/functions';

@import './../../node_modules/bootstrap/scss/variables';

@import './../../node_modules/bootstrap/scss/bootstrap';


.aboutsavana {
     background-color: #F4EDE5;
}

.card-body {
     right: 13%;
     left: 10%;
     margin-bottom: -10%;
     padding: 25px;
     top: 68%;
     height: 58%;

}

.bg-savana {

     background-image: url('./../images/background-placeholder.png');
     background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .why-wechooseus-card {
    transform: translateY(75%);
  }
  .card-2 {
    left: 8%;
  }
}

