@import './variables';
@import './../../node_modules/bootstrap/scss/functions';

@import './../../node_modules/bootstrap/scss/variables';

@import './../../node_modules/bootstrap/scss/bootstrap';


.dropdown-toggle::after {
    display: none;
    background: url(./../images/icons/down-arrow.svg);
    rotate: 180deg;
}
 